# ***Perceptron Homework***
## **Introduction to Machine Learning**
### Ali Mojahed
### 9812762554
#### Spring 1401

# **Download and Unzip Dataset**

In [ ]:
!wget -O data.zip https://www.dropbox.com/s/d4kee6t0e9l8e1r/data.zip?dl=0
!unzip data.zip -d /content/data

--2022-06-27 10:21:59--  https://www.dropbox.com/s/d4kee6t0e9l8e1r/data.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:601c:18::a27d:612
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/d4kee6t0e9l8e1r/data.zip [following]
--2022-06-27 10:22:00--  https://www.dropbox.com/s/raw/d4kee6t0e9l8e1r/data.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc0d50aa35ad835242b2d45daceb.dl.dropboxusercontent.com/cd/0/inline/Bn_sPHCGDyCB6Y0js5ldKEx8bjhP_uaZcrU8Rj7L5fQa99XOSoeY-2UxwMYjrh5TfuHHlzPmEzod_7HAcVY04wv_gQNKOnctIbEXTeN-GBqsQnwadpxgW7napTxxPxcEK0X5SYLs6iwAPErUw42obp6s7kRjHjL4azuMQVU8QeY66w/file# [following]
--2022-06-27 10:22:00--  https://uc0d50aa35ad835242b2d45daceb.dl.dropboxusercontent.com/cd/0/inline/Bn_sPHCGDyCB6Y0js5ldKEx8bjhP_uaZcrU8Rj7L5fQa99XOSoeY-2UxwMYjrh5TfuHHlzPmEzod_7HAcVY04wv_gQNKOnctIbEXTeN-GBqsQnwadpxgW7napTxxPxcEK0X5SYLs6iwAPErUw42obp6s7kRjHjL4azuMQVU8QeY66w/file
Resolving uc0d50aa35ad835242b2d45daceb.dl.dropboxusercontent.com (uc0d50aa35ad835242b2d45daceb.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:601c:15::a27d:60f
Connecting to uc0d50aa35ad835242b2d45daceb.dl.dropboxusercontent.com (uc0d50aa35ad835242b2d45daceb.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/Bn87UdbqTPphWT0ofrXteZyythTSqrBZUvlzP4kOHzmfmpPIJA7cP5YzEzOgjhlPuUMHWFckGj5L1Z6LOaFeUnwpmGCZD0DZeru_cobQY38HEBGWUh1EhCL2bu6XrImDbjJiHg8_SXQQERcFGP108OvpKMxWwKgbkqBykuV7qOnKVwJqJdvuHgYKiU-n2l62y6i7KZdZXg2djE2iBLIzyVSk37mtJhitt86VVNl6gp7Rktta0yDnBw9HukoJLCyawC3_Vb7dKZwCNrxSd0HcP67fVg8ttoJAwUxjApgBAoB5-HiM7eQMA5LUmo6V6xApMv2AGWybwGMaYXD_d5h-mHtaiuK9CO6mrghJoP_PHMYq0dG2iqstaXOowFizFnrASJXqfgYDWVn0QTXqA5rlDbyqpZmB4LxLeexoNCxs1cDdAw/file [following]
--2022-06-27 10:22:00--  https://uc0d50aa35ad835242b2d45daceb.dl.dropboxusercontent.com/cd/0/inline2/Bn87UdbqTPphWT0ofrXteZyythTSqrBZUvlzP4kOHzmfmpPIJA7cP5YzEzOgjhlPuUMHWFckGj5L1Z6LOaFeUnwpmGCZD0DZeru_cobQY38HEBGWUh1EhCL2bu6XrImDbjJiHg8_SXQQERcFGP108OvpKMxWwKgbkqBykuV7qOnKVwJqJdvuHgYKiU-n2l62y6i7KZdZXg2djE2iBLIzyVSk37mtJhitt86VVNl6gp7Rktta0yDnBw9HukoJLCyawC3_Vb7dKZwCNrxSd0HcP67fVg8ttoJAwUxjApgBAoB5-HiM7eQMA5LUmo6V6xApMv2AGWybwGMaYXD_d5h-mHtaiuK9CO6mrghJoP_PHMYq0dG2iqstaXOowFizFnrASJXqfgYDWVn0QTXqA5rlDbyqpZmB4LxLeexoNCxs1cDdAw/file
Reusing existing connection to uc0d50aa35ad835242b2d45daceb.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 973130 (950K) [application/zip]
Saving to: ‘data.zip’

data.zip            100%[===================>] 950.32K  --.-KB/s    in 0.09s

2022-06-27 10:22:00 (10.0 MB/s) - ‘data.zip’ saved [973130/973130]

Archive:  data.zip
  inflating: /content/data/dataset/test.csv
  inflating: /content/data/dataset/train.csv

# **Import Dataset**

In [ ]:
import pandas as pd

def get_x_y_from_dataset(dataset_path):
  dataset = pd.read_csv(dataset_path)
  # return dataset.iloc[:, :-1].values, dataset.iloc[:, -1]

In [ ]:
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')

# **Data Preprocessing**

### Handling Missing Data

In [ ]:
import numpy as np
from sklearn.impute import SimpleImputer

imputer_numerical = SimpleImputer(missing_values=np.nan, strategy='mean')
# imputer_numerical = imputer_numerical.fit(pd.concat([train_df, test_df]).iloc[:, 2:].select_dtypes(include='number', exclude=None))
imputer_numerical = imputer_numerical.fit(train_df[['Age']], test_df[['Age']])
test_df['Age'] = imputer_numerical.transform(test_df[['Age']])
train_df['Age'] = imputer_numerical.transform(train_df[['Age']])

imputer_numerical = imputer_numerical.fit(train_df.iloc[:, 7:-1], test_df.iloc[:, 7:-1])
train_df.iloc[:, 7:-1] = imputer_numerical.transform(train_df.iloc[:, 7:-1])
test_df.iloc[:, 7:-1] = imputer_numerical.transform(test_df.iloc[:, 7:-1])

train_df.fillna(train_df.mode().iloc[0])
test_df.fillna(test_df.mode().iloc[0])

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52.0,Business travel,Eco,160.0,5.0,4.0,...,5.0,5.0,5.0,5.0,2.0,5.0,5.0,50.0,44.0,satisfied
1,1,90035,Female,Loyal Customer,36.0,Business travel,Business,2863.0,1.0,1.0,...,4.0,4.0,4.0,4.0,3.0,4.0,5.0,0.0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20.0,Business travel,Eco,192.0,2.0,0.0,...,2.0,4.0,1.0,3.0,2.0,2.0,2.0,0.0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44.0,Business travel,Business,3377.0,0.0,0.0,...,1.0,1.0,1.0,1.0,3.0,1.0,4.0,0.0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49.0,Business travel,Eco,1182.0,2.0,3.0,...,2.0,2.0,2.0,2.0,4.0,2.0,4.0,0.0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34.0,Business travel,Business,526.0,3.0,3.0,...,4.0,3.0,2.0,4.0,4.0,5.0,4.0,0.0,0.0,neutral or dissatisfied
25972,25972,71167,Male,Loyal Customer,23.0,Business travel,Business,646.0,4.0,4.0,...,4.0,4.0,5.0,5.0,5.0,5.0,4.0,0.0,0.0,satisfied
25973,25973,37675,Female,Loyal Customer,17.0,Personal Travel,Eco,828.0,2.0,5.0,...,2.0,4.0,3.0,4.0,5.0,4.0,2.0,0.0,0.0,neutral or dissatisfied
25974,25974,90086,Male,Loyal Customer,14.0,Business travel,Business,1127.0,3.0,3.0,...,4.0,3.0,2.0,5.0,4.0,5.0,4.0,0.0,0.0,satisfied
25975,25975,34799,Female,Loyal Customer,42.0,Personal Travel,Eco,264.0,2.0,5.0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,neutral or dissatisfied

### Categorical Data

In [ ]:
from sklearn.preprocessing import LabelEncoder

total_df = pd.concat([train_df, test_df])
s_temp = total_df['satisfaction']
total_df = pd.get_dummies(total_df.iloc[:, :-1], columns=['Gender', 'Customer Type', 'Type of Travel', 'Class'])
total_df['satisfaction'] = s_temp
s_label = ['neutral or dissatisfied', 'satisfied']
labelencoder = LabelEncoder()
total_df['satisfaction'] = labelencoder.fit_transform(total_df[['satisfaction']])

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
total_df.head()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,...,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction
0,0,70172,13.0,460.0,3.0,4.0,3.0,1.0,5.0,3.0,...,0,1,1,0,0,1,0,0,1,0
1,1,5047,25.0,235.0,3.0,2.0,3.0,3.0,1.0,3.0,...,0,1,0,1,1,0,1,0,0,0
2,2,110028,26.0,1142.0,2.0,2.0,2.0,2.0,5.0,5.0,...,1,0,1,0,1,0,1,0,0,1
3,3,24026,25.0,562.0,2.0,5.0,5.0,5.0,2.0,2.0,...,1,0,1,0,1,0,1,0,0,0
4,4,119299,61.0,214.0,3.0,3.0,3.0,3.0,4.0,5.0,...,0,1,1,0,1,0,1,0,0,1

In [ ]:
total_df.head()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,...,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction
0,0,70172,13.0,460.0,3.0,4.0,3.0,1.0,5.0,3.0,...,0,1,1,0,0,1,0,0,1,0
1,1,5047,25.0,235.0,3.0,2.0,3.0,3.0,1.0,3.0,...,0,1,0,1,1,0,1,0,0,0
2,2,110028,26.0,1142.0,2.0,2.0,2.0,2.0,5.0,5.0,...,1,0,1,0,1,0,1,0,0,1
3,3,24026,25.0,562.0,2.0,5.0,5.0,5.0,2.0,2.0,...,1,0,1,0,1,0,1,0,0,0
4,4,119299,61.0,214.0,3.0,3.0,3.0,3.0,4.0,5.0,...,0,1,1,0,1,0,1,0,0,1

# **Split x, y**

In [ ]:
train = total_df.iloc[:103904, :]
test = total_df.iloc[103904:, :]

x_train = train.iloc[:, 2:-1]
y_train = train.iloc[:, -1]

x_test = test.iloc[:, 2:-1]
y_test = test.iloc[:, -1]

y_train.values

array([0, 0, 1, ..., 0, 0, 0])

### Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler = scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

# **Train Simple Perceptron**

In [ ]:
from sklearn.linear_model import Perceptron

simple_model = Perceptron(shuffle=True, verbose=1)
simple_model = simple_model.fit(x_train, y_train)

-- Epoch 1
Norm: 20.47, NNZs: 27, Bias: -5.000000, T: 103904, Avg. loss: 2.898384
Total training time: 0.04 seconds.
-- Epoch 2
Norm: 20.67, NNZs: 27, Bias: -5.000000, T: 207808, Avg. loss: 2.933779
Total training time: 0.08 seconds.
-- Epoch 3
Norm: 20.96, NNZs: 27, Bias: -5.000000, T: 311712, Avg. loss: 2.884000
Total training time: 0.11 seconds.
-- Epoch 4
Norm: 19.81, NNZs: 27, Bias: -4.000000, T: 415616, Avg. loss: 2.946277
Total training time: 0.15 seconds.
-- Epoch 5
Norm: 19.67, NNZs: 27, Bias: -9.000000, T: 519520, Avg. loss: 2.912537
Total training time: 0.19 seconds.
-- Epoch 6
Norm: 20.70, NNZs: 27, Bias: -7.000000, T: 623424, Avg. loss: 2.913736
Total training time: 0.23 seconds.
-- Epoch 7
Norm: 22.22, NNZs: 27, Bias: -1.000000, T: 727328, Avg. loss: 2.891286
Total training time: 0.27 seconds.
-- Epoch 8
Norm: 25.06, NNZs: 27, Bias: -5.000000, T: 831232, Avg. loss: 2.901737
Total training time: 0.31 seconds.
Convergence after 8 epochs took 0.31 seconds

# **Test Simple Perceptron**

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, simple_model.predict(x_test))

0.8319217739451802

In [ ]:
def step_func(z):
  return 1.0 if (z > 0) else 0.0

# **Kernel Base Perceptron**

In [ ]:
from sklearn.kernel_approximation import RBFSampler
class KernelBasePerceptron:
  def __init__(self, kernel, input_dim, learning_rate=0.00005, epochs=100, verbose=0, kernel_approx = RBFSampler()):
    self.input_dim = input_dim
    self.learning_rate = learning_rate
    self.epochs = epochs
    self.weights = np.random.randn(input_dim)/4
    self.bias = np.random.randn(1)/4
    self.kernel = kernel
    self.verbose = verbose
    self.kernel_approx = kernel_approx

  def fit(self, X, Y):
    self.X = X
    self.Y = Y
    self.kernel_approx = self.kernel_approx.fit(X)
    X = self.kernel_approx.transform(X)
    self.weights = np.random.randn(X.shape[1])/4
    for epoch in range(self.epochs):
      if self.verbose == 1:
          print(f"=============== Epoch {epoch+1} ==========")
      for i in range(len(X)):
        yhat=step_func(self.kernel(self.weights, X[i]) + self.bias)
        error = yhat-Y[i]
        self.weights = self.weights - self.learning_rate * error * X[i]
        self.bias = self.bias - self.learning_rate * error


    print(f"accuracy_score: {accuracy_score(Y, model.predict(self.X))}")

    return self


  def predict(self, X):
    y_pred = np.zeros((X.shape[0], 1))
    X = self.kernel_approx.transform(X)
    for i in range(len(X)):
      y_pred[i] = step_func(self.kernel(self.weights, X[i]) + self.bias)
    print(y_pred)
    return y_pred

# **Train Kernel-Base Perceptron**

In [ ]:
from sklearn.kernel_approximation import PolynomialCountSketch
def linear_kernel(w, x):
  return np.dot(w.T, x)

# def polynomial(w, x, p = 2):
#   return (np.dot(w.T, x) + 1) ** p

# def gaussian(w, x):


model = KernelBasePerceptron(linear_kernel, x_train.shape[1], verbose=1, epochs=40, kernel_approx=PolynomialCountSketch(degree=3))
model = model.fit(x_train, y_train)

accuracy_score(y_test, model.predict(x_test))

=============== Epoch 1 ==========
=============== Epoch 2 ==========
=============== Epoch 3 ==========
=============== Epoch 4 ==========
=============== Epoch 5 ==========
=============== Epoch 6 ==========
=============== Epoch 7 ==========
=============== Epoch 8 ==========
=============== Epoch 9 ==========
=============== Epoch 10 ==========
=============== Epoch 11 ==========
=============== Epoch 12 ==========
=============== Epoch 13 ==========
=============== Epoch 14 ==========
=============== Epoch 15 ==========
=============== Epoch 16 ==========
=============== Epoch 17 ==========
=============== Epoch 18 ==========
=============== Epoch 19 ==========
=============== Epoch 20 ==========
=============== Epoch 21 ==========
=============== Epoch 22 ==========
=============== Epoch 23 ==========
=============== Epoch 24 ==========
=============== Epoch 25 ==========
=============== Epoch 26 ==========
=============== Epoch 27 ==========
=============== Epoch 28 ==========
=============== Epoch 29 ==========
=============== Epoch 30 ==========
=============== Epoch 31 ==========
=============== Epoch 32 ==========
=============== Epoch 33 ==========
=============== Epoch 34 ==========
=============== Epoch 35 ==========
=============== Epoch 36 ==========
=============== Epoch 37 ==========
=============== Epoch 38 ==========
=============== Epoch 39 ==========
=============== Epoch 40 ==========
[[0.]
 [0.]
 [1.]
 ...
 [0.]
 [0.]
 [0.]]
accuracy_score: 0.7650234832152757
[[1.]
 [1.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]

0.7618570988604866

In [ ]:
accuracy_score(y_test, model.predict(x_test))

In [ ]:
simple_model = Perceptron(shuffle=True, verbose=1)
kernel_approx =PolynomialCountSketch(degree=2)
kernel_approx = kernel_approx.fit(x_train)
X = kernel_approx.transform(x_train)
simple_model = simple_model.fit(X, y_train)
X_TEST = kernel_approx.transform(x_test)
accuracy_score(y_test, simple_model.predict(X_TEST))

-- Epoch 1
Norm: 596.55, NNZs: 100, Bias: -368.000000, T: 103904, Avg. loss: 217.457039
Total training time: 0.08 seconds.
-- Epoch 2
Norm: 459.17, NNZs: 100, Bias: -313.000000, T: 207808, Avg. loss: 176.681685
Total training time: 0.18 seconds.
-- Epoch 3
Norm: 549.90, NNZs: 100, Bias: -342.000000, T: 311712, Avg. loss: 216.616922
Total training time: 0.26 seconds.
-- Epoch 4
Norm: 464.57, NNZs: 100, Bias: -342.000000, T: 415616, Avg. loss: 235.929535
Total training time: 0.34 seconds.
-- Epoch 5
Norm: 395.87, NNZs: 100, Bias: -274.000000, T: 519520, Avg. loss: 167.866103
Total training time: 0.43 seconds.
-- Epoch 6
Norm: 583.89, NNZs: 100, Bias: -275.000000, T: 623424, Avg. loss: 230.547685
Total training time: 0.51 seconds.
-- Epoch 7
Norm: 545.97, NNZs: 100, Bias: -288.000000, T: 727328, Avg. loss: 224.435135
Total training time: 0.58 seconds.
-- Epoch 8
Norm: 430.76, NNZs: 100, Bias: -296.000000, T: 831232, Avg. loss: 178.312196
Total training time: 0.74 seconds.
-- Epoch 9
Norm: 446.38, NNZs: 100, Bias: -336.000000, T: 935136, Avg. loss: 236.545693
Total training time: 0.81 seconds.
-- Epoch 10
Norm: 408.91, NNZs: 100, Bias: -266.000000, T: 1039040, Avg. loss: 192.038818
Total training time: 0.88 seconds.
Convergence after 10 epochs took 0.88 seconds

0.7885740683708038